.page {
  min-height: 100vh;
  background-color: #FFFFFF;
  display: flex;
  gap: 60px;


  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
    > :first-child {
      display: none; // Hides the sidebar
    }
    &__main{
      height: 610px;
      background-color: #0C365A;
      box-shadow: 0px 3px 6px 0px #0000001F;
      margin-top: 0px !important;
      padding: 0px 24px;
      padding-top: 31px;
    }
    &__balanceTitle{
      color: white !important;
    }
    &__balanceValue{
      color: white !important;
    }
    &__balanceCurrency{
      color: white !important;
    }
    &__newCard{
      background-color: transparent !important;
      color: #23CEFD !important;
      // padding: 9px 12px;
      // border-radius: 4px;
    }
    &__tab {
    // padding: 16px 4px;
    border-bottom-width: 2px;
    font-weight: 500;
    font-size: 14px;

    &--active {
      color: #FFFFFF !important;
      
    }

    &--inactive {
      border-color: transparent;
      color: #FFFFFF !important;
      opacity: 0.5 !important;

     
    }
  }
  }
  &__main {
    max-width: 900px;
    margin-top: 59px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 34px;
  }

  &__balance {
    &Title {
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
      // font-weight: bold;
      color: #222;
    }

    &Amount {
      display: flex;
      align-items: center;
      margin-top: 16px;
    }

    &Currency {
      text-align: center;
      width: 40px;
      padding: 4px 0px 4px 0px;
      font-size: 13px;
      line-height: 16px;
      font-weight: 500;
      color: #FFFFFF;
      background-color: #01D167;
      border-radius: 4px;
    }

    &Value {
      font-size: 26px;
      font-weight: bold;
      color: #222;
      margin-left: 12px;
    }
  }

  &__newCard {
    background-color: #325BAF;
    color: white;
    padding: 9px 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #2A4D8F;
    }
  }

  &__newCardIcon {
    width: 20px;
    height: 20px;
  }

  &__tabs {
    margin-bottom: 20px;
  }

  &__tabList {
    // border-bottom: 1px solid #E5E7EB;
  }

  &__tabNav {
    height: 19px;
    display: flex;
    gap: 32px;
    margin-bottom: -1px;
  }

  &__tab {
    // padding: 16px 4px;
    border-bottom-width: 2px;
    font-weight: 500;
    font-size: 14px;

    &--active {
      border-color: #01D167;
      color: #222222;
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: #23CEFD;
        margin-top: 4.5px;
      }
    }

    &--inactive {
      border-color: transparent;
      color: #222222;
      opacity: 0.3;

     
    }
  }

  &__grid {
    padding: 40px;
    display: flex;
    gap: 32px;
    border-radius: 8px;
    box-shadow: 0px 2px 12px 0px #00000014;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      padding: 24px;
      box-shadow: none;
    }
  }

  &__cardList {
    flex: 7;
  }

  &__cardDetails {
    @media screen and (max-width: 768px) {
      margin-top: 124px;
    }
    flex: 5;
  }
}